body {
  min-width: 996px;
  font-family: 'Overpass Mono';
}

nav.menubar {
  position: fixed;
  z-index: 2;
  top: 0;

}
.gallery {
  margin: 25vh;
  height: 50vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.galleryRail {
  display: flex;
  justify-content: center;
    /*min-width: 100%;*/
  transition: all .3s ease;
}

div {
  display: flex;
  flex-direction: column;
  background-size: cover;
}

section.small {
  width: 25vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

div.big {
  width: 50vh;
  height: 50vh;
}

div.small {
  width: 25vh;
  height: 25vh;
}

.big#pic1 {
background-image: url(../images/1.jpg);
}

.big#pic2 {
background-image: url(../images/4.jpg);
}

.big#pic3 {
background-image: url(../images/7.jpg);
}

.small#pic1_1 {
background-image: url(../images/2.jpg);
}

.small#pic1_2 {
background-image: url(../images/3.jpg);
}

.small#pic2_1 {
background-image: url(../images/5.jpg);
}

.small#pic2_2 {
background-image: url(../images/6.jpg);
}

.small#pic3_1 {
background-image: url(../images/8.jpg);
}

.small#pic3_2 {
background-image: url(../images/9.jpg);
}
