div {
  display: inline-block;
  background-size: cover;
}

.gallery {
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

section.small {
  width: 50vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.big {
  width: 100vh;
  height: 100vh;
}

div.small {
  width: 50vh;
  height: 50vh;
}

.big#pic1 {
background-image: url(../images/1.jpg);
}

.big#pic2 {
background-image: url(../images/4.jpg);
}

.small#pic1_1 {
background-image: url(../images/2.jpg);
}

.small#pic1_2 {
background-image: url(../images/3.jpg);
}

.small#pic2_1 {
background-image: url(../images/5.jpg);
}

.small#pic2_2 {
background-image: url(../images/6.jpg);
}
